$secondary-color: #616070;
$button-color: #00acdc;
$button-color-second: #fff;
$text-bold: 700;
$text-normal: 500;
$text-thin: 400;
$text-middle: 12px;
$text-small: 10px;
$line-small: 14px;
$line-middle: 18px;
$line-tall: 40px;
$border-radius: 5px;
$star: 16px;
